@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&family=Poppins:wght@300&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --mainBackground: rgb(240, 243, 251);
  --secondaryBackground: #dee2e6;
  --tertiaryBackground: #dee2e6b7;
  --sidebarBackground: white;
  --sidebarColor: #666;
  --primaryFontFamily: "DM Sans", sans-serif;
  --secondaryFontFamily: "Poppins", sans-serif;
  --generalPadding: 3rem;
  --accentColor: #be123c;
  --primaryTextColor: black;
  --secondaryTextColor: #9ca3af;
  --tertiaryTextColor: #333;
  --thinBorderColor: #333333bc;
  --quaternaryTextColor: #222;
  --navigationFontSize: 0.8rem;
  --activeNavigationFontSize: 1.1rem;
}
.dark-theme {
  --mainBackground: rgb(16, 19, 28);
  --tertiaryBackground: #22222274;
  --secondaryBackground: #222;
  --sidebarBackground: rgb(6, 6, 15);
  --primaryTextColor: rgb(248, 244, 244);
  --tertiaryTextColor: rgb(248, 244, 244);
  --thinBorderColor: rgba(248, 244, 244, 0.596);
  --quaternaryTextColor: #dee2e6;
  --sidebarColor: #939393;
}
body {
  font-family: var(--primaryFontFamily);
  background: var(--mainBackground);
  min-height: 100vh;
  overflow-anchor: auto;
  color: var(--primaryTextColor);
  scrollbar-gutter: stable;
}
.body-sidebar-padding {
  padding-right: 17px;
}
button {
  background: inherit;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.427);
  z-index: 100;
  display: none;
  pointer-events: painted;
}
.show-overlay {
  display: block;
}
header {
  padding: 0 var(--generalPadding);
  position: absolute;
  width: 100%;
  color: white;
  top: 0.5rem;
  z-index: 500;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo img {
  height: 3.125rem;
  width: 3.125rem;
}
.logo h2 {
  font-size: 1.5rem;
}
.logo-disappear {
  display: flex;
}
.nav-btn-flex {
  display: flex;
  flex-grow: 0.5;
  justify-content: space-between;
  align-items: center;
}
.nav-btn-flex.single-child {
  flex-grow: 0;
}
.expand-nav-btn-flex {
  width: auto;
}
form {
  --searchColor: white;
  position: relative;
  border: 2px solid white;
  padding: 0.4rem;
  width: 33rem;
  border-radius: 0.4em;
}
.expand-form {
  z-index: 300;
}
form .movie-form-flex {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s linear;
}
.movie-search {
  width: 96%;
  border: none;
  background: none;
  font-size: 1.1rem;
  color: var(--searchColor);
  user-select: none;
}
.show-movie-search {
  display: block;
}
.movie-search:focus {
  outline: none;
  background: white;
}
.movie-search::placeholder {
  font-family: var(--primaryFontFamily);
  color: var(--searchColor);
}
form button {
  color: var(--searchColor);
  font-size: 1rem;
}
form .fa-magnifying-glass {
  height: fit-content;
  color: var(--searchColor);
}
form .clear-btn {
  display: none;
}
form:focus-within {
  --searchColor: rgb(6, 17, 32);
  background: white;
}
form:focus-within .search-btn {
  display: none;
}
form:focus-within .clear-btn {
  display: block;
}
.toggle-sidebar {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 800;
  background: var(--accentColor);
  color: white;
  transition: all 0.1s linear;
  display: grid;
  place-items: center;
}
.toggle-sidebar:active {
  background: #d58196;
}
.nav-btn-disappear {
  display: block;
}
/* SIDEBAR */
aside {
  background: var(--sidebarBackground);
  color: var(--sidebarColor);
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  max-width: 16rem;
  box-shadow: 0px 0px 3px 0px rgb(49, 48, 48);
  height: 100vh;
  border-radius: 2em 0em 0em 2em;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3rem;
  transition: transform 0.5s linear;
  transform: translateX(120%);
  z-index: 999;
}
@media (max-height: 550px) {
  aside {
    overflow-y: scroll;
  }
}
.show-sidebar {
  transform: translateX(0%);
}
aside .logo {
  padding: 0 1rem;
  gap: 0.8rem;
}
aside ul {
  position: relative;
  width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
}
aside ul li {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  align-items: center;
  padding: 2rem 1rem;
}
aside svg {
  width: 1.565rem;
  height: 1.565rem;
}
.theme {
  padding: 4rem 1rem;
}
.theme p {
  cursor: pointer;
}
.theme-toggle input {
  display: none;
}
.theme-toggle label {
  position: relative;
  display: flex;
  cursor: pointer;
  justify-content: left;
  align-items: center;
  width: 37px;
  height: 23px;
  border-radius: 5rem;
  background: #666;
  padding: 0 2px;
}
.ball {
  position: absolute;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  transition: 0.2s linear;
  background: white;
}
.theme-toggle input:checked ~ label {
  background: #be123c;
}
.theme-toggle input:checked ~ label .ball {
  transform: translateX(14px);
}
aside ul li:hover,
.active-page {
  background: #be123d15;
  border-left: 5px solid #be123c;
  color: #be123c;
}
aside ul li:hover svg,
.active-page svg {
  color: #be123c;
}
.theme:hover {
  background: inherit;
  border: none;
  color: inherit;
}
/* SLIDER */
.slider-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16/7.3;
  overflow: hidden;
  overscroll-behavior-inline: contain;
}
.slider-container input[type="radio"] {
  display: none;
}
.slides-flex {
  display: flex;
  left: 0;
  width: 500%;
  height: 100%;
  position: absolute;
  transition: left 2s;
}
.slide {
  width: 20%;
}
.movie-preview {
  background: url(./image/john-wick\ wallpaper.jpg);
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  background-color: rgb(132, 122, 122);
  background-blend-mode: multiply;
  color: white;
  padding: 9rem var(--generalPadding);
}
.preview-text {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  user-select: none;
}
.preview-text h1 {
  font-size: 3rem;
  text-transform: capitalize;
  height: fit-content;
}
.ratings {
  display: flex;
  justify-content: space-between;
}
.preview-text .ratings {
  justify-content: left;
  gap: 2rem;
  font-size: 0.875rem;
  font-weight: 300;
}
.imdb-rating,
.rotten-tomato {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.imdb-rating img,
.rotten-tomato img {
  object-fit: contain;
}
.description {
  font-size: 0.875rem;
  line-height: 1.2rem;
}
.watch-btn {
  background: var(--accentColor);
  color: white;
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 0.4rem 0.7rem;
  gap: 0.5rem;
  border-radius: 0.5em;
  font-size: 0.875rem;
  transition: all 0.1s linear;
}
.watch-btn:active {
  background: #d58196;
}
.navigation {
  position: absolute;
  top: 50%;
  right: 1rem;
  /* transform: translateY(-10%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  transition: 0.8s;
}
.navigation label {
  font-size: var(--navigationFontSize);
  color: rgba(255, 255, 255, 0.555);
  cursor: pointer;
  transition: 0.1s;
  user-select: none;
}
.indicator {
  height: 4px;
  width: 20px;
  background: white;
  border-radius: 0.5em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 2rem;
}
/* ON CHECKED */
/* #radio1:checked ~ .slides-flex{
  left: 0;
}
#radio2:checked ~ .slides-flex{
  left: -100%;
}
#radio3:checked ~ .slides-flex{
  left: -200%;
}
#radio4:checked ~ .slides-flex{
  left: -300%;
}
#radio5:checked ~ .slides-flex{
  left: -400%;
}*/

#radio1:checked ~ .navigation {
  transform: translateY(-10%);
}
#radio2:checked ~ .navigation {
  transform: translateY(-30%);
}
#radio3:checked ~ .navigation {
  transform: translateY(-50%);
}
#radio4:checked ~ .navigation {
  transform: translateY(-70%);
}
#radio5:checked ~ .navigation {
  transform: translateY(-90%);
}

#radio1:checked ~ .navigation .btn1 {
  font-size: var(--activeNavigationFontSize);
  color: white;
}
#radio2:checked ~ .navigation .btn2 {
  font-size: var(--activeNavigationFontSize);
  color: white;
}
#radio3:checked ~ .navigation .btn3 {
  font-size: var(--activeNavigationFontSize);
  color: white;
}
#radio4:checked ~ .navigation .btn4 {
  font-size: var(--activeNavigationFontSize);
  color: white;
}
#radio5:checked ~ .navigation .btn5 {
  font-size: var(--activeNavigationFontSize);
  color: white;
}

.top-rated {
  margin: 3rem 0;
  padding: 0 var(--generalPadding);
}
.rated-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.rated-heading h2 {
  font-size: 2rem;
}
.rated-heading a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--accentColor);
}
.movie-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 3rem;
  column-gap: 2rem;
  margin-bottom: 5rem;
}
.movie-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  overflow: clip;
  cursor: pointer;
}
.poster {
  position: relative;
  width: 100%;
}
.poster-img {
  width: 100%;
  object-fit: cover;
  transition: filter 0.1s linear;
  border-radius: 0.8em;
}
.expand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 700;
  color: #d1d5db;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: rgba(243, 244, 246, 0.5);
  font-size: 1.4rem;
  visibility: hidden;
}
.undertext {
  display: flex;
  font-size: 0.75rem;
  font-weight: 700;
  gap: 0.2rem;
  color: var(--secondaryTextColor);
}
.movie-card h3 {
  font-size: 1.125rem;
}
.movie-card .ratings {
  font-size: 0.75rem;
  justify-content: space-between;
  width: 100%;
}
.movie-card .imdb-rating,
.movie-card .rotten-tomato {
  display: flex;
  gap: 0.3rem;
}
.genre {
  font-size: 0.75rem;
  color: var(--secondaryTextColor);
  display: flex;
  gap: 0.2rem;
}
.bookmark-btn {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  font-size: 1.2rem;
  display: grid;
  place-items: center;
  background: rgba(243, 244, 246, 0.5);
  color: #d1d5db;
  transition: all 0.1s linear;
}
.bookmark-btn:focus {
  background: rgba(215, 107, 107, 0.777);
  color: #be1212f1;
}
.bookmarked {
  background: rgba(215, 107, 107, 0.777);
  color: #be1212f1;
}
.movie-card:hover .poster-img {
  filter: brightness(50%);
}
.movie-card:hover .expand {
  visibility: visible;
}
footer {
  padding: 2rem var(--generalPadding);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  color: var(--primaryTextColor);
  border-top: 2px solid var(--thinBorderColor);
  width: 95%;
  margin: 0 auto;
}
.social-links {
  display: flex;
  gap: 1.5rem;
  font-size: 1.6rem;
}
.external-links {
  display: flex;
  gap: 1.5rem;
  text-transform: capitalize;
  font-weight: 600;
}
.footnote {
  color: var(--secondaryTextColor);
  font-weight: 600;
}
@media (max-width: 1100px) {
  .slider-container {
    aspect-ratio: 16/9;
  }
}
@media (max-width: 1000px) {
  .slider-container {
    aspect-ratio: 16/10;
  }
  form {
    width: 28rem;
  }
}
@media (max-width: 900px) {
  .slider-container {
    aspect-ratio: 16/12;
  }
}
@media (max-width: 850px) {
  :root {
    --generalPadding: 1.5rem;
  }
  .preview-text {
    max-width: 50%;
  }
  form {
    width: 26rem;
  }
  .preview-text h1 {
    font-size: 2.5rem;
  }
  .preview-text .ratings {
    font-size: 0.8rem;
  }
  .movie-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    margin-bottom: 4rem;
  }
  .social-links {
    font-size: 1.3rem;
  }
}
@media (max-width: 700px) {
  form {
    width: 22rem;
  }
  .movie-container {
    gap: 3rem;
  }
}
@media (max-width: 650px) {
  :root {
    --navigationFontSize: 0.7rem;
    --activeNavigationFontSize: 1rem;
  }
  .movie-search {
    font-size: 1rem;
  }
  .logo {
    gap: 0.5rem;
  }
  .logo img {
    height: 2.5rem;
    width: 2.5rem;
  }
  .logo h2 {
    font-size: 1.2rem;
  }
  .movie-preview {
    padding: 6rem var(--generalPadding);
  }
  .preview-text {
    max-width: 60%;
  }
  .preview-text h1 {
    font-size: 2rem;
  }
  .preview-text .ratings {
    width: 150%;
    font-size: 0.6rem;
  }
  .description {
    font-size: 0.8rem;
  }
  .watch-btn {
    font-size: 0.7rem;
  }
}
@media (max-width: 550px) {
  :root {
    --generalPadding: 1rem;
    --navigationFontSize: 0.7rem;
    --activeNavigationFontSize: 0.95rem;
  }
  .body-sidebar-padding {
    padding-right: 0px;
  }
  .slider-container {
    aspect-ratio: 16/14;
  }
  header {
    top: 1rem;
  }
  form {
    width: 15rem;
    padding: 0.25rem;
  }
  .rated-heading h2 {
    font-size: 1.8rem;
  }
  .movie-container {
    gap: 1rem;
    row-gap: 2rem;
  }
  .movie-card h3 {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  nav {
    justify-content: space-between;
    gap: 1rem;
  }
  .nav-btn-flex {
    flex-grow: 0;
    gap: 2.5rem;
  }
  form {
    width: fit-content;
    border: none;
  }
  .logo-disappear {
    display: none;
  }
  .expand-form {
    width: 100%;
    border: 2px solid white;
  }
  .expand-nav-btn-flex {
    width: 100%;
  }
  .nav-btn-disappear {
    display: none;
  }
  .movie-search {
    width: 0;
    position: absolute;
  }
  .show-movie-search {
    width: 96%;
    position: static;
  }
  .slider-container {
    aspect-ratio: 1/1.45;
  }
  .movie-preview {
    padding-top: 12rem;
  }
}
@media (max-width: 450px) {
  :root {
    --generalPadding: 1rem;
    --navigationFontSize: 0.6rem;
    --activeNavigationFontSize: 0.9rem;
  }
  .logo {
    gap: 0.4rem;
  }
  .logo img {
    height: 2.5rem;
    width: 2.5rem;
  }
  .logo h2 {
    font-size: 1.4rem;
  }
  .nav-btn-flex {
    gap: 1.8rem;
  }
  .toggle-sidebar {
    height: 2.3rem;
    width: 2.3rem;
    font-size: 1.4rem;
  }
  .movie-preview {
    padding-top: 10rem;
  }
  .preview-text {
    max-width: 80%;
  }
  .preview-text .ratings {
    font-size: 0.8rem;
  }
  .watch-btn {
    font-size: 0.8rem;
  }
  .indicator {
    height: 3px;
    width: 15px;
  }
  .top-rated {
    padding: 0 1.5rem;
  }
  .movie-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    row-gap: 2rem;
  }
  .top-rated {
    margin-top: 2rem;
  }
  .rated-heading {
    margin-bottom: 2rem;
  }
  .rated-heading h2 {
    font-size: 1.5rem;
  }
  .movie-card {
    gap: 0.5rem;
  }
  .movie-card h3 {
    font-size: 1rem;
  }
  .social-links {
    gap: 1rem;
    font-size: 1.5rem;
  }
  .external-links {
    font-size: 0.8rem;
    gap: 0.8rem;
  }
  .footnote {
    font-size: 0.8rem;
  }
}
@media (max-width: 350px) {
  .slider-container {
    aspect-ratio: 1/1.9;
  }
  .movie-search {
    font-size: 0.9rem;
  }
  aside {
    width: 70%;
  }
  .rated-heading h2 {
    font-size: 1.2rem;
  }
  .external-links {
    font-size: 0.7rem;
  }
}

/* MOVIES PAGE */
.movies-header {
  position: relative;
  top: 0;
  padding-top: 1.2rem;
  padding-bottom: 0.4rem;
  color: var(--primaryTextColor);
}
.page-heading {
  font-family: var(--primaryFontFamily);
  font-size: 2rem;
  color: var(--tertiaryTextColor);
}
.movies-header .nav-btn-flex form {
  border: none;
  background: var(--secondaryBackground);
}
.movies-header .nav-btn-flex form:focus-within {
  background: var(--secondaryBackground);
  outline: 2px solid var(--tertiaryTextColor);
}
.movies-header .nav-btn-flex .movie-search {
  color: var(--primaryTextColor);
}
.movies-header .nav-btn-flex .movie-search:focus {
  background: var(--secondaryBackground);
}
.movies-header .nav-btn-flex .movie-search::placeholder {
  color: var(--quaternaryTextColor);
  font-weight: 500;
}
.movies-header .nav-btn-flex i {
  font-size: 1.1rem;
  color: var(--quaternaryTextColor);
  opacity: 0.8;
}
.movies-header .nav-btn-flex .clear-btn i:hover {
  color: var(--accentColor);
}
.genre-toggle {
  color: var(--accentColor);
}
.genre-toggle i {
  font-size: 1.6rem;
}
.movies-header .nav-btn-flex .toggle-sidebar {
  background: none;
  color: var(--tertiaryTextColor);
}
.movies-header .nav-btn-flex .toggle-sidebar i {
  font-size: 1.6rem;
}
.movies-header .nav-btn-flex .expand-form {
  border: none;
  background: inherit;
}
.genre-list {
  padding: 0 var(--generalPadding);
  display: flex;
  width: 100dvw;
  gap: 1rem;
  flex-wrap: wrap;
  position: relative;
  z-index: 800;
  border-radius: 0 0 0.5rem 0.5rem;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.3s linear;
  transition: padding 0.3s linear;
  background: var(--tertiaryBackground);
  pointer-events: none;
}
.show-genre-list {
  padding: 2rem var(--generalPadding);
  max-height: 10000px;
  overflow: visible;
  visibility: visible;
  pointer-events: auto;
}
.genre-list li {
  border: 2px solid var(--accentColor);
  padding: 0.2rem 0.4rem;
  border-radius: 0.6em;
  text-transform: capitalize;
  color: var(--accentColor);
  cursor: pointer;
}
.genre-list li:hover {
  color: white;
  background-color: var(--accentColor);
}
.movies-list {
  padding: 0 var(--generalPadding);
  margin-top: 2rem;
  row-gap: 2rem;
  margin-bottom: 2rem;
}
.pagination-container {
  padding: 0 var(--generalPadding);
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--accentColor);
}
.pagination-container button {
  color: var(--accentColor);
  font-size: 1rem;
}
.page-btn {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  text-transform: capitalize;
  border: 2px solid var(--accentColor);
  padding: 0.5rem;
  border-radius: 1.1em;
  color: var(--accentColor);
}
.pagination-container button i {
  font-size: 0.5rem;
}
.pagination-numbers {
  display: flex;
  gap: 0.5rem;
}
.page-num {
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 0.7em;
}
.page-btn:hover,
.page-num:hover,
.pagination-container .active {
  background-color: var(--accentColor);
  color: white;
}
@media (max-width: 1100px) {
  .movies-header .nav-btn-flex form {
    width: 25rem;
  }
}
@media (max-width: 1000px) {
  .page-heading {
    font-size: 1.9rem;
  }
  .movies-header .nav-btn-flex {
    gap: 3rem;
  }
  .movies-header .nav-btn-flex form {
    width: 24rem;
  }
}
@media (max-width: 900px) {
  .page-heading {
    font-size: 1.6rem;
  }
  .movies-header .nav-btn-flex form {
    width: 19rem;
  }
}
@media (max-width: 750px) {
  .page-heading {
    font-size: 1.4rem;
  }
  .movies-header .nav-btn-flex form {
    width: 16rem;
  }
}
@media (max-width: 650px) {
  .movies-header .nav-btn-flex {
    gap: 2rem;
  }
  .movies-header .nav-btn-flex form {
    width: 13rem;
  }
}
@media (max-width: 600px) {
  .movies-header .nav-btn-flex form {
    width: 12rem;
  }
}
@media (max-width: 550px) {
  .page-heading {
    font-size: 1.4rem;
  }
  .movies-header .nav-btn-flex {
    gap: 1.5rem;
  }
  .movies-header .nav-btn-flex form {
    width: 12rem;
  }
}
@media (max-width: 500px) {
  .page-heading {
    font-size: 1.6rem;
  }
  .movies-header .nav-btn-flex form {
    background: none;
    width: fit-content;
  }
  .movies-header .nav-btn-flex i {
    font-size: 1rem;
  }
  .genre-toggle i {
    font-size: 1.4rem;
  }
  .movies-header .nav-btn-flex .expand-form {
    width: 100%;
  }
  .movies-header .nav-btn-flex .toggle-sidebar i {
    font-size: 1.4rem;
  }
}
@media (max-width: 380px) {
  .page-heading {
    font-size: 1.4rem;
  }
  .movies-header .nav-btn-flex {
    gap: 0.7rem;
  }
}
@media (max-width: 330px) {
  .page-heading {
    font-size: 1.2rem;
  }
  .movies-header .nav-btn-flex {
    gap: 0.5rem;
  }
}

/* MOVIE PAGE */
.video-trailer-container {
  width: 100%;
  height: 50%;
  position: relative;
  aspect-ratio: 16/6;
  position: relative;
  margin-top: 1rem;
  padding: 0 var(--generalPadding);
}

.movie-static-container{
  height: 100%;
}
.movie-static-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(50%);
  border-radius: 0.8em;
}
.watch-trailer-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  /* border: 2px solid red; */
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.play-btn{
  display: grid;
  place-items: center;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.149);
  backdrop-filter: blur(2px);
  border: 1px double rgba(255, 255, 255, 0.149);
  /* width: 3rem; */
}
.play-btn svg{
  color: white;
  height: 5rem;
  width: 5rem;
}
.watch-trailer-container p{
  font-size: 1.3rem;
}
.movie-details{
  --gapDistance: 1.5rem;
  padding: 0 var(--generalPadding);
  color: var(--quaternaryTextColor);
}
.movie-details-heading{
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-details-heading ul{
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.movie-details-heading ul li{
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 500;
  list-style:disc;
  list-style-position: inside;
}
.movie-details-heading ul li:first-child{
  list-style: none;
}
.bookmark-movie-btn{
  display: flex;
  align-items: center;
  font-size: 1rem;
  border: 2px solid var(--accentColor);
  border-radius: 2em;
  padding: 0.3rem 0.5rem;
  background: var(--accentColor);
  color: white;
}
.bookmark-movie-btn svg{
  height: 1.5rem;
  width: 1.5rem;
}
.movie-genre-list{
  display: flex;
  gap: 1rem;
  margin-bottom: var(--gapDistance);
   flex-wrap: wrap;
}
.movie-genre-list li{
  color: var(--accentColor);
  text-transform: capitalize;
  border: 1px solid #be123d5c;
  padding: 0.2rem 0.4rem;
  border-radius: 5em;
  cursor: default;
}
.movie-about{
  margin-bottom: var(--gapDistance);
  max-width: 90%;
}
.movie-about::first-letter{
  text-transform: capitalize;
}
.movie-details-list{
  display: flex;
  flex-direction: column;
  gap: var(--gapDistance);
  margin-bottom: calc(2 * var(--gapDistance));
}
.movie-details-list li{
  font-size: 1.1rem;
  text-transform: capitalize;
}
.movie-details-list li span{
  color: var(--accentColor);
}
@media(max-width: 1000px){
  .video-trailer-container{
    aspect-ratio: 16 / 7;
  }
  .play-btn{
    height: 5rem;
    width: 5rem;
  }
  .play-btn svg{
    height: 4rem;
    width: 4rem;
  }
  .watch-trailer-container p{
    font-size: 1.1rem;
  }
}
@media(max-width: 900px){
  .video-trailer-container{
    aspect-ratio: 16 / 7.5;
  }
}
@media(max-width: 750px){
  .video-trailer-container{
    aspect-ratio: 16 / 8;
  }
}
@media(max-width: 650px){
  .play-btn{
    height: 4rem;
    width: 4rem;
  }
  .play-btn svg{
    height: 3.3rem;
    width: 3.3rem;
  }
  .watch-trailer-container p{
    font-size: 1rem;
  }
}
@media(max-width: 550px){
  .video-trailer-container{
    aspect-ratio: 16 / 9.5;
  }
  .watch-trailer-container{
    gap: 0.3rem;
  }
  .movie-details-heading ul li{
    font-size: 1rem;
  }
  .bookmark-movie-btn{
    font-size: 0.9rem;
  }
  .bookmark-movie-btn svg{
    height: 1.3rem;
    width: 1.3rem;
  }
}
@media(max-width: 450px){
  .video-trailer-container{
    aspect-ratio: 16 / 11;
  }
  .play-btn{
    height: 3.7rem;
    width: 3.7rem;
  }
  .play-btn svg{
    height: 3rem;
    width: 3rem;
  }
  .watch-trailer-container p{
    font-size: 0.9rem;
  }
  .movie-details{
    --gapDistance: 1.3rem;
  }
  .movie-details-heading{
    flex-direction: column;
    align-items: start;
    gap: var(--gapDistance);
    margin-bottom: var(--gapDistance);
  }
  .movie-details-heading ul li{
    font-size: 1.08rem;
  }
  .movie-genre-list{
    margin-bottom: 1.2rem;
  }
  .movie-about{
    max-width: 100%;
  }
}
@media(max-width: 350px){
  .play-btn{
    height: 3rem;
    width: 3rem;
  }
  .play-btn svg{
    height: 2.5rem;
    width: 2.5rem;
  }
}